.cardBox {
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:10px 10px 10px 10px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 10px;
}

.headerBox {
	text-align: center;
	border-radius:5px 5px 0px 0px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 1px;
	font-size: 18px;
}

.bodyBox {
	text-align: left;
	padding: 10px;
}

.bodyBox p {
	margin-left: 5px;
}

.bottomBox {
	text-align:right;
	margin-bottom: 10px;
	margin-right: 10px;
}